@import "./general.scss";

.post {
    height: 100%;
    display: flex;
    position: relative;
    flex-flow: column;
    flex-direction: column;
    @media (max-width: 750px) {
        height: auto;
        overflow-y: auto;
        display: block;
    }
    .postarea {
        order: 1;
        flex-basis: auto;
        overflow-y: auto;
        overflow-x: hidden;
        @media (max-width: 750px) {
            flex-basis: none;
        }
        .postheading {
            .posttitle {
                font-family: $listTitleFont;
                font-size: 2rem;
                font-weight: 500;
                text-transform: uppercase;
                padding: 1rem 1rem 0 0.5rem;
                line-height: 1.1;
                @media (min-width: 992px) {
                    font-size: 3rem;
                    padding: 2rem 2rem 0 0.5rem;
                }
            }
            font-weight: bold;
            border-bottom: 2px solid black;
        }
        .postcontent {
            h1, h2, h3, h4, h5, h6 {
                margin: 10px 0;
            }
            h1, h2, h3 {
                font-style: italic;
            }
            img {
                width: 100%;
                object-fit: cover;
                padding-right: 5px;
                @media (max-width: 750px) {
                    padding-right: 0;
                }
            }
        }
    }
    .postnavigation {
        order: 2;
        flex-basis: 20px;
        z-index: 100;
        background-color: rgb(242, 242, 242);
        margin-top: auto;
        border-top: 2px solid black;
        padding: 2px 0;
        display: flex;
        justify-content: space-between;
        > :last-child {
            text-align: right;
            padding-right: 3px;
        }
        @media (max-width: 750px) {
            border-bottom: 2px solid black;
            flex-basis: none;
            margin-top: 5px;
        }
    }
}