@import url("https://use.typekit.net/ion6ccg.css");
@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: "Millionaire Script";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Millionaire-Script.woff') format('woff');
}

@font-face {
    font-family: "Millionaire Roman";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Millionaire-Roman.woff') format('woff');
}

@font-face {
    font-family: "Austin Condensed";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Austin-Condensed.woff') format('woff');
}