header {
    border-bottom: 2px solid black;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 999;
    background-color: rgba(242, 242, 242, 0.6);
    backdrop-filter: blur(6px);
    font-size: 20px;
    .navigation {
        display: flex;
        div:not(:first-child) {
            padding-left: 10px;
        }
    }
}

footer {
    border-top: 2px solid black;
    text-align: center;
    margin-top: auto;
    padding: 5px 0;
    > div {
        border-bottom: 2px solid black;
        margin: 0 auto 5px auto;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
            // text-transform: capitalize;
        }
    }
}