header {
    height: 40px;
    flex: 0 0 auto;
    display: flex;
    border-bottom: 2px solid black;
    padding: 5px 0;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(242, 242, 242, 0.6);
    backdrop-filter: blur(6px);
    font-size: 20px;
    .navigation {
        display: flex;
        div:not(:first-child) {
            padding-left: 10px;
            @media only screen and (max-width: 600px) {
                padding-left: 5px;
            }
        }
        @media only screen and (max-width: 450px) {
            font-size: 16px;
        }
    }
    div:first-child {
        white-space: nowrap;
    }
    button {
        cursor: pointer;
        outline: none;
        border: 0;
        font-size: 1.2rem;
        padding-left: 5px;
        background-color: rgba(242, 242, 242, 0);
        -webkit-tap-highlight-color: rgba(242, 242, 242, 0);
    }
    @media only screen and (max-width: 650px) {
        position: fixed;
        top: 0;
        width: 95vw;
        max-width: 1600px;
        z-index: 800;
        background-color: rgba(242, 242, 242, 0.6);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}

footer {
    flex: 0 0 auto;
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 2px 0 5px 0;
    text-align: center;
    font-size: 15px;
    border-top: 2px solid black;
}