header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    font-size: 20px;
    padding: 5px 0;
    .navigation {
        display: flex;
        div:not(:first-child) {
            padding-left: 10px;
        }
    }
    .logo {
        height: 100px;
        width: 50%;
    }
}

footer {
    border-top: 2px solid black;
    text-align: center;
    margin-top: auto;
    padding: 5px 0;
}