@import "./general.scss";

#playlist-container {
    font-weight: 300;
    font-style: italic;
    height: 45vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    @media (max-width: 750px) {
        height: 80vh;
        margin-top: 20px;
    }
    .load-track {
        font-family: serif;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5vw;
        @media (min-width: 1600px) {
            width: 80%;
        }
    }
    .track {
        font-family: freight-big-pro, serif;
        height: 20%;
        white-space: nowrap;
        font-size: 9vw;
        line-height: 8vw;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        animation-delay: 0.5s;
        background-color: $backgroundColor;
        @media only screen and (min-width: 1600px) {
            font-size: 144px;
            line-height: 144px;
        }
        @media (hover: hover) {
            a:hover {
                text-shadow: 0 0 7px rgba(0,0,0,0.9);
            }
        }
        @media (max-width: 750px) {
            width: 100%;
            height: 10%;
            font-size: 9vh;
            padding-top: 0;
            overflow: visible;
        }
    }
    @media only screen and (min-width: 1600px) {
        height: 750px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.index-titles {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 30px 0 0 0;
    padding: 15px 0 10px 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.04em;
    @media (max-width: 750px) {
        margin-top: 0;
        font-size: 40px;
    }
}