@import "./general.scss";

#playlist-container {
    font-weight: 300;
    font-style: italic;
    height: calc(100vh - 40px);
    // min-height: 100vh;
    // height: auto;
    // margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    // overflow: hidden;
    position: relative;
    padding-top: 3vh;
    .load-track {
        z-index: -100;
        // font-family: serif;
        position: absolute;
        top: 50%; 
        left: 30%;
        transform: translate(-50%, -50%);
        // font-size: 20vw;
        width: 100%;
        text-align: center;
        .circle::before {
            display: inline-block;
            animation: lightShift 5s infinite alternate;
            content: ' \25CF';
            font-size: 50vw;
            // color: #fccde2; // rgb(197, 227, 246), rbg(253, 180, 206), rbg(255, 212, 96)
        }
        @media (min-width: 1600px) {
            width: 80%;
        }
        color: rgba(242, 242, 242, 0);
        text-shadow: 0 0 80px rgba(255, 212, 96, 0.9);
        // text-shadow: 0 0 600px rgba(0,0,0,0.9);
        @media (max-width: 750px) {
            // text-shadow: 0 0 100px rgba(0,0,0,0.9);
            text-shadow: 0 0 40px rgba(255, 212, 96, 0.9);
        }
    }
    .track {
        font-family: freight-big-pro, serif;
        height: 20%;
        white-space: nowrap;
        padding: 0 0 5px 0;
        font-size: 17vh;
        line-height: 10vh;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        animation-delay: 0.5s;
        // background-color: $backgroundColor;
        // @media only screen and (min-width: 1600px) {
        //     font-size: 144px;
        //     line-height: 144px;
        // }
        @media (hover: hover) {
            a:hover {
                text-shadow: 0 0 7px rgba(0,0,0,0.9);
            }
        }
        @media (max-width: 750px) {
            width: 100%;
            height: 10%;
            font-size: 9vh;
            padding-top: 0;
            overflow: visible;
        }
    }
    // @media only screen and (min-width: 1600px) {
    //     height: 750px;
    // }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.index-featured-group {
    margin: 30px auto;
    .index-titles {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 15px 0 10px 0;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.04em;
        @media (max-width: 750px) {
            margin-top: 0;
            font-size: 40px;
        }
    }
}

.index-roll {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    .index-glow {
        top: 1500px;
        @media (max-width: 1000px) {
            top: 1000px;
        }
        @media (min-width: 1600px) {
            top: 2000px;
        }
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: -100;
        text-align: center;
        position: absolute;
        // overflow: hidden;
        width: 100%;
        max-height: 100vh;
        .circle::before {
            display: inline-block;
            animation: lightShift 5s infinite alternate;
            content: ' \25CF';
            font-size: 50vw;
        }
        color: rgba(242, 242, 242, 0);
        text-shadow: 0 0 80px rgba(255, 212, 96, 0.9);
        @media (max-width: 750px) {
            text-shadow: 0 0 40px rgba(255, 212, 96, 0.9);
        }
    }
}

@keyframes lightShift {
    0% { transform: scale(1); -webkit-transform: scale(1.0); }
    100% { transform: scale(2); -webkit-transform: scale(2.0); }
}

.circle-text { 
    // padding-bottom: 100%; 
    // overflow: hidden; 
    @media (max-width: 750px) {
        display: none;
    }
    text { 
        font-family: $bodyFont, 'Helvetica Neue', Arial; 
        font-style: normal;
        font-weight: medium; 
    }
    svg { 
        // filter: invert(1);
        z-index: -100;
        position: absolute;
        top: 22.5%; 
        left: -20%;
        transform: translate(-50%, -50%);
        // position: absolute; 
        // left: 0; 
        // top: 27vh; 
        width: 100%; 
        height: 540px;
      -webkit-animation-name: rotate;
         -moz-animation-name: rotate;
          -ms-animation-name: rotate;
           -o-animation-name: rotate;
              animation-name: rotate;
      -webkit-animation-duration: 15s;
         -moz-animation-duration: 15s;
          -ms-animation-duration: 15s;
           -o-animation-duration: 15s;
              animation-duration: 15s;
      -webkit-animation-iteration-count: infinite;
         -moz-animation-iteration-count: infinite;
          -ms-animation-iteration-count: infinite;
           -o-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
         -moz-animation-timing-function: linear;
          -ms-animation-timing-function: linear;
           -o-animation-timing-function: linear;
              animation-timing-function: linear;
    }
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }