.projectside-post {
    border-left: 2px solid black;
    height: 100%;
    > h4 {
        margin: 0; padding: 0;
    }
    h2 {
        margin: 0; 
        padding: 5px;
        width: 100%;
        border-bottom: 2px solid black;
        font-size: 2rem;
        font-weight: 300;
        @media (min-width: 992px) {
            font-size: 2.5rem;
        }
    }
    .projectside-post-nav {
        max-height: 45%;
        overflow-y: scroll;
        border-bottom: 2px solid black;
        > h4 {
            margin: 0; 
            padding: 5px;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    .projectside-post-info {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "time" "timeinput"
            "tools" "toolsinput";
        border-bottom: 2px solid black;
        .time {grid-area: "time"; word-break: break-all;}
        .timeinput {grid-area: "timeinput";}
        .tools {grid-area: "tools";}
        .toolsinput {grid-area: "toolsinput";}
        > h5, h6 {
            margin: 0; 
            padding: 2px 5px;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 400;
        } 
        > h5 {
            font-size: 1.4rem;
        }
    }
    .projectside-post-context {
        > a {
            padding: 0 5px;
            &:not(:last-child) {
                border-bottom: 2px solid black;
            }
        }
    }

}

.blogcategorylist {
    border-left: 2px solid black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .category {
        &:not(:first-child) {
            border-top: 2px solid black;
        }
        > h2 {
            margin: 0; 
            padding: 5px;
            width: 100%;
            font-size: 2rem;
            font-weight: 300;
            @media (min-width: 992px) {
                font-size: 3rem;
            }
            border-bottom: 2px solid black;  
        }
        > h4 {
            margin: 0; 
            padding: 5px;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            @media (min-width: 992px) {
                font-size: 1.5rem;
            }
        }
    }
}