.projectside-post {
    border-left: 2px solid black;
    @media (max-width: 900px) {
        border-left: none;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 750px) {
        border-top: 2px solid black;
    }
    height: 100%;
    > h4 {
        margin: 0; padding: 0;
    }
    h2 {
        margin: 0; 
        padding: 5px;
        width: 100%;
        border-bottom: 2px solid black;
        font-size: 2rem;
        font-weight: 400;
        @media (min-width: 992px) {
            font-size: 2.5rem;
        }
        @media (max-width: 900px) {
            padding: 5px 0;
        }
    }
    .projectside-mobile-hide {
        @media (max-width: 750px) {
            display: none;
        }
    }
    .projectside-post-nav {
        // max-height: 40%;
        // @media (max-width: 1200px) {
        //     max-height: 35%;
        // }
        @media (max-width: 900px) {
            max-height: none;
            overflow-y: auto;
            border-bottom: none;
        }
        overflow-y: auto;
        &:not(:last-child) {
            border-bottom: 2px solid black;
        }
        // border-bottom: 2px solid black;
        > h4 {
            margin: 0;
            padding: 2px 5px;
            width: 100%;
            font-weight: 400;
            font-size: 2rem;
//             &:not(:last-child) {
//                 border-bottom: 2px solid black;
//             }
            @media (max-width: 900px) {
                padding: 2px 0;
                font-size: 1.5rem;
            }
        }
        .project-description {
            margin: 0;
            padding: 0 5px 3px 5px;
            width: 100%;
            font-weight: 400;
            font-size: 1rem;
            @media (max-width: 900px) {
                padding: 0 0 3px 0;
            }
        }
        @media (max-width: 900px) {
            order: 3;
        }
    }
    .projectside-post-info {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "time" "timeinput"
            "tools" "toolsinput";
        @media (max-width: 900px) {
            grid-template-areas: 
                "time" "tools"
                "timeinput" "toolsinput";
        }
        border-bottom: 2px solid black;
        .time {grid-area: "time"; word-break: break-all;}
        .timeinput {grid-area: "timeinput";}
        .tools {grid-area: "tools";}
        .toolsinput {grid-area: "toolsinput";}
        > h5, h6 {
            margin: 0; 
            padding: 2px 5px;
            @media (max-width: 900px) {
                padding: 2px 0;
            }
            width: 100%;
            font-size: 1.2rem;
            font-weight: 400;
        } 
        > h5 {
            font-size: 1.4rem;
        }
        @media (max-width: 900px) {
            order: 1;
        }
    }
    .projectside-post-context {
        width: 100%;
        > div {
            padding: 5px;
            width: 100%;
            font-size: 1.4rem;
            // &:not(:last-child) {
            //     border-bottom: 2px solid black;
            // }
            border-bottom: 2px solid black;
            @media (max-width: 900px) {
                padding: 5px 0 5px 0;
                border-bottom: 2px solid black;
            }
        }
        @media (max-width: 900px) {
            order: 2;
        }
    }
}

.blogcategorylist {
    border-left: 2px solid black;
    @media (max-width: 900px) {
        border-left: none;
        border-top: 2px solid black;
        overflow-y: visible;
    }
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .category {
        &:not(:first-child) {
            border-top: 2px solid black;
        }
        > h2 {
            margin: 0; 
            padding: 5px;
            width: 100%;
            font-size: 2rem;
            font-weight: 400;
            @media (min-width: 992px) {
                font-size: 3rem;
            }
            @media (max-width: 900px) {
                padding: 5px 0;
            }
            border-bottom: 2px solid black;  
        }
        > h4 {
            margin: 0; 
            padding: 5px;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 400;
            @media (max-width: 900px) {
                padding: 5px 0;
            }
        }
    }
}
